$maxWidth: 1920;
$startPoint: 1920;

@mixin adaptive-value($property, $startSize, $minSize) {
  $addSize: $startSize - $minSize;
  #{$property}: $startSize + px;
  @media (max-width: #{$startPoint + px}) {
    #{$property}: calc(
      #{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$startPoint - 320})
    );
  }
}
