@use "./variables" as *;
@use "./functions" as *;
@use "./adaptive-value" as *;

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: rem(16);
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: $main-color;
  background-color: var(--bg-color);
}

body.transition-ready {
  transition:
    background-color 0.3s,
    color 0.3s;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}
a {
  color: inherit;
}
a:hover {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.app {
  height: 100%;
}

.wrapper {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  @include adaptive-value(padding-left, 100, 15);
  @include adaptive-value(padding-right, 100, 15);
}

.main {
  margin-top: rem(80);
  flex: 1 1 auto;
}

.red {
  color: red;
  padding-right: rem(3);
}

.title {
  text-transform: uppercase;
  font-size: rem(30);
  color: var(--title-color);
  & span {
    margin-right: rem(5);
  }
}

.error {
  color: red;
  font-size: rem(14);
  margin-top: rem(5);
}
